.boardContainer {
	position: relative;
	width: 50%;
	margin: 50px auto;
	padding: 20px 20px 30px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px, rgba(0, 0, 0, 0.13) 0px
		0px 0px 1px;
}

#submitDelete {
	background-color: transparent;
	display: none;
	color: red;
	border: none;
	font-size: 14px;
	padding: 10px 0 0 0;
	display: none;
}

#submitDelete strong {
	padding-left: 5px;
	transform: translateY(-10px);
}

.deleteCheck {
	transform: translateY(5px);
}

.emp-delete-container {
	padding-top: 10px;
	display: none;
}

.emp-info div {
	display: flex;
	background-color: #e8e8e8;
	font-size: 12px;
	padding: 2px;
}

.emp-info div span {
	flex: 30%;
}

#emp-board {
	padding-top: 16px;
}

.deleteEmp {
	background-color: #F62841;
}

.deleteEmp:hover {
	background-color: #F62841;
}

.deleteEmp:focus {
	background-color: #F62841;
}

.btn:focus {
	outline: none;
}

.empNoSelect {
	font-weight: bold;
	font-size: 13px;
	padding-top: 2px;
	transform: translateY(2px);
}

.id {
	position: absolute;
	top: 30px;
	right: 25px;
	font-size: 16px;
}

.selected {
	background-color: #F4F4F4;
	margin-top:10px;
}

.modal-header {
	position: relative;
}

.modal-title {
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
	font-weight: bold;
}

.modal-body {
	padding: 20px 30px;
}

.emp-task {
	padding: 0px 0px 20px 5px;
	margin-bottom: 10px;
}

.addTodoBtn {
	color: green;
	margin: 0 1px;
	cursor: pointer;

}

.delTodoBtn {
	color: yellowgreen;
	margin: 0 1px;
	cursor: pointer;

}

.editTodoBtn {
	margin: 0 1px;
	cursor: pointer;
	
}


.todoTool{
	margin-top:10px;
}